header{
  .top{
    background: $primary-default;
    height: 4.6rem;
    width: 100%;
    line-height: 46px;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        .top-menu{
          ul{
            display: flex;
            li{
              &:not(:first-child){
                margin-left: 2.4rem;
              }

              a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 4rem;
                color: rgba(255, 255, 255, 0.6);
                transition: color .3s ease-in-out;
                &:hover{
                  color: rgba(255, 255, 255);
  
                }
              }
              
            }
          }
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: center;
        .rede-social{
          display: flex;
          margin-right: 1.6rem;
          li{
            &:not(:first-child){
              margin-left: 1.6rem;
            }
          }
        }
      }
    }


  }
  .bottom{
    height: 7.6rem;
    background: $white;
    width: 100%;
    line-height: 7.6rem;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .main-menu{
        ul{
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            &:not(:first-child){
              margin-left: 10px;
            }
            a{
              position: relative;
              font-weight: 700;
              font-size: 12px;
              padding: 13px 10px;
              text-transform: uppercase;
              color: #6E7378;
              transition: color .3s ease-in-out;
              &:hover, &.active{
                color: $primary-default;
              }

              &::after{
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                line-height: 12px;
                right: -6px;
                top: 16px;
                background: url('../img/icons/tree.svg');
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
  .header-mobile{
    display: none;

  }

  @media (max-width: 992px){
    .top, .bottom{
      display: none;
    }
    .header-mobile{
      display: block;
      padding: 15px 0;
      height: 90px;
      line-height: 90px;
      .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-mobile{
          cursor: pointer;
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .5s ease-in;
          &:hover{
            background-color: $gray-02;
          }
        }

        .icon-info{
          a{
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s ease-in;
            &:hover{
              background-color: $primary-light;
            }
          }
        }
      }
    }
  }
}