header{
  .top{
    background: $primary-default;
    height: 4.6rem;
    width: 100%;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        .top-menu{
          ul{
            display: flex;
            li{
              &:not(:first-child){
                margin-left: 2.4rem;
              }

              a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 4rem;
                color: rgba(255, 255, 255, 0.6);
                transition: color .3s ease-in-out;
                &:hover{
                  color: rgba(255, 255, 255);
  
                }
              }
              
            }
          }
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: center;
        .rede-social{
          display: flex;
          margin-right: 1.6rem;
          li{
            &:not(:first-child){
              margin-left: 1.6rem;
            }
          }
        }
      }
    }
  }
}