.btn{
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $primary-default;
    background-color: $secondary-default;
    padding: 0px 2rem;
    line-height: 4.1rem;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover{
        opacity: 0.8;
       ;
    }
}