.btn-login{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: $white;
  text-transform: uppercase;
  padding: 0px 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 43px;
}
.separator{
  width: 24px;
  height: 0.5px;
  background: rgba($color: #ffffff, $alpha: 0.5);
  transform: rotate(90deg);
}
.current-date{
  display: flex;
  align-items: center;
  .day{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
    margin-right: 4px;
  }
  .month-year{
    display: flex;
    flex-direction: column;
    gap: 2px;
    span{
      color: #ffffff;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 92.5%;
    }
  }
}
.btn{
  display: flex;
  background: #E7B245;
  padding: 2px 24px;
  box-shadow: -5px 101px 41px rgba(231, 178, 69, 0.01), -3px 57px 34px rgba(231, 178, 69, 0.05), -1px 25px 25px rgba(231, 178, 69, 0.09), 0px 6px 14px rgba(231, 178, 69, 0.1), 0px 0px 0px rgba(231, 178, 69, 0.1);
  border-radius: 8px;
  transition: all .3s ease-in-out;
  span{
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: $primary-default;
    position: relative;
  }
  img{
    margin-left: 12px;
  }

  &:hover{
    opacity: 0.9;
  }
}
.category{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #E7B245;
  text-transform: uppercase;
}

.title-section{
  border-bottom: 0.2rem solid #D3D3D3;
  padding-bottom: 0.4rem;
  margin-bottom: 40px;
  h2{
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $primary-default;
    border-bottom: 2px solid $primary-default;
    padding-bottom: 0.4rem;
  }
}


.card-news{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadada;
  
  padding: 40px 0;
  .image{
    width: 100%;
    max-width: 260px;
    height: 195px;
    background-size: cover;
    overflow: hidden;
    border-radius: 0.8rem;
    margin-right: 4rem;
  }
  .info{
    .title{
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 130%;
      color: $primary-default;
      margin-top: 0.6rem;
      transition: color .3s ease;
      &:hover{
        color: $primary-dark;
      }
    }
    .description{
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9rem;
      color: $gray-06;
    }
    .date{
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $gray-06;
    }
  }
}
.card-ilheus{
  width: 100%;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 36px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before{
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(1, 46, 95, 0) 0%, #012E5F 44.27%);
    opacity: 0.74;

  }

  h2{
    font-weight: 700;
    font-size: 34.7586px;
    line-height: 4.2rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  p{
    width: 100%;
    max-width: 706px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
    z-index: 2;
    color: #ffffffd0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  a{
    z-index: 2;
    
  }
}

.card-ads{
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 0.8rem;
  overflow: hidden;
  &:not(:last-child){
    margin-bottom: 4rem;
  }
}

.card-nossas-causas{
  width: 100%;
  max-width: 38rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #DEE2E6;
  box-shadow: 0px 4px 78px rgba(212, 218, 224, 0.7);
  border-radius: 8px;
  padding: 20px;
  &:not(:last-child){
    margin-right: 30px;
  }
  .image{
    width: 340px;
    height: 230px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: $primary-default;
    margin-bottom: 18px;
  }
  p{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;
    margin-bottom: 26px;
    color: $gray-07;
    padding: 0 10px;
  }
  a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}